$title: #1a1716;
$text: #2f2626;
$white: #fefefe;

@mixin openf300 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
@mixin openf400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}